tr .fix-start{
    position: sticky;
    left: -1px;
    background-color: #fff;
    z-index: 3;
    border-right: unset !important;
    border-left: unset !important;
    border-radius: unset;
}

tr .fix-end{
    position: sticky;
    right: -1px;
    background-color: #fff;
    border-right: unset !important;
    border-left: unset !important;
    z-index: 3;
}

.edit{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.edit-icon{
    border: solid transparent 1px;
    margin-top: 2px;
}

.edit-icon:focus{
    border-color: #0075c0 !important;
    outline: unset;
}

tr{
    background-color: #fff;
}

tbody tr:hover{
    background-color: #f4faff !important;
    z-index: 0;
}

tbody tr:hover + td, tbody tr:hover .fix-end, tbody tr:hover .fix-start{
    background-color: #f4faff !important;
    z-index: 3;
} 

th{
    background-color: #e5e8ec !important;
    text-align: left;
    padding: 0 12px;
    position: sticky;
    font-size: 13px;
    top: -1px;
    z-index: 2;
    font-family: Opens-san-bold;
    user-select: none;
    cursor: pointer;
}
th:first-child, th:last-child{
    z-index: 5;
}

td{
    padding:0 12px;
    font-size: 13px;
    position: relative;
    /* border-left: unset !important; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.checkbox{
    height: 20px;
    width: 20px;
}

.grid-viewer {
    border-bottom: solid #e0e0e0 1px;
}

.grid-viewer__scroll{
    max-height: none;
    min-width: 100%;
}

.grid-table {
    white-space: nowrap;
    border-collapse: collapse;
    position: relative;
    width: 100%;
}

tr {
height: 36px;
width: 100%;
}

th,
td {
border: solid #bfbfbf 1px;
}

.content-main__footer{
    height: 54px;
    width: calc(100% - 34px);
    position: absolute;
    bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    font-size: 12px;
    background-color: #FFF;
    z-index: 6;
}

.tr-selected, .tr-selected + td, .tr-selected .fix-start, .tr-selected .fix-end{
    background-color: #e5f3ff;
    z-index: 3;
}

.date input{
    text-align: center;
    padding:0;
}

.d-money{
    text-align: right;
    padding-right: 12px;
}

.number{
    width: 50px !important;
    position: sticky;
    left: 0;
}

.d-money input{
    text-align: right;
    padding:0;
}