input{
    font-size: 16px;
}

input[type = "radio"]{
    color: green;
}

.search{
    font-size: 14px;
}

.input-component{
    height: 26px;
    width: 170px;
    position: relative;
    margin-right: 58px;
}

.input-component input{
    border-radius: 2px;
    height: 24px !important;
    font-size: 13px;
    line-height: 26px;
    padding: 0px 30px 0px 10px;
    outline: unset;
    border: unset;
}

.content-main__header input{
    height: 100%;
    width: 100%;
    border: solid #EBEBEB 1px;
}

.content-main__header input::placeholder{
    font-size: 13px;
    font-style: italic;
    line-height: 26px;
}

.content-main__header input:focus{
    border-color: #50B83C;
}

.content-main__header .search-icon{
    position: absolute;
    top: 3px;
    right: -32px;
}

.popup-checkbox {
    height: 20px;
    width: 20px;
}

.com1, .com2 {
    position: relative;
}

.unit, .position, .issue-place{
    width: 100%;
    position: relative;
}

.dob, .issue-date{
    position: relative;
}

