.popup{
    height: 100%;
    width: 100%;
    background-color: rgba(82, 82, 82, 0.5);
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    animation-name: showAni;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.popup .popup-main{
    height: 620px;
    width: 1000px;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    top: calc((100% - 620px)/2);
    left: calc((100% - 1000px)/2);
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.popup-main__header{
    height: 54px;
    width: calc(100% - 48px);
    margin: 12px 24px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between;
    align-items: center;
}

.popup-main__header .part1{
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.popup-main__header .title{
    font-size: 24px;
    font-weight: 700;
    color: #212121;
}

.popup-main__header .part1 .option{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.popup-main__header .btn-group{
    display: flex;
    column-gap: 8px;
    margin-top: -20px;
    margin-right: -10px;
}

.popup-main__context{
    height: calc(100% - 54px - 60px - 44px - 22px);
    width: calc(100% - 48px);
    margin: 22px 24px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.popup-main__footer{
    height: 59px;
    width: calc(100% - 48px);
    display: flex;
    position: relative;
    bottom: 0px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 0 24px;
    border-top: #E0E0E0 solid 1px;
}

.popup-main__footer .btn-close{
    height: 26px;
    width: 80px;
}

.popup-main__footer .group-btn{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.popup-main__footer button{
    height: 26px;
    min-width: 60px;
    border: #b0b0b0 1px solid;
    background-color: unset;
    border-radius: 4px;
    font-family: opens-san-bold;
}

.required{
    color: #E81E1E;
}

.btn-saveAndAdd button{
    height: 26px;
    width: 116px;
    border: none;
    background-color: #2ca01c;
    color: #fff;    
}

.btn-saveAndAdd button:hover{
    background-color: #50B83C;
    cursor:pointer;
}

.btn-saveAndAdd button:focus{
    background-color: #2a6d1d;
    cursor:pointer;
    outline: unset;
}   

.btn-close button:focus, .btn-save button:focus{
    background-color: #e1e1e1;
    outline: unset;
}

.personal-info{
    display: flex;
    column-gap: 24px;
}

.personal-info .left-side, .personal-info .right-side{
    height: 50%;
    width: 50%;
}

.inf-component{
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 4px;
}

.inf-component input, .inf-component .input{
    height: 26px;
    border: solid #b0b0b0 1px;
    border-radius: 2px;
    font-size: 13px;
    outline: unset;
    padding: 0px 12px 0px 12px;
    box-sizing: border-box;
}

.inf-area .com2{
    flex: 1;
    box-sizing: border-box;
}

.inf-area {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 14px;
}

.inf-area + .inf-area{
    margin-top: 14px;
}

.gender{
    height: 100%;
    border: unset;
    border-radius: 4px;
    outline: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: relative;
}

.gender input{
    height: 20px;
    width: 20px;
}

.contact-info{
    margin-top: 12px;
}

.inf-component input:hover, .inf-component select:hover{
    border: solid #EBEBEB 1px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.inf-component input:focus, .inf-component select:focus{
    background-color: #fff;
    border: solid #50B83C 1px;
}

.close{
    background-color: unset;
    border: unset   ;
}

.close:hover{
    cursor: pointer;
}

.personal-info .left-side, .personal-info .right-side, .contact-info, .popup-main__footer, .popup-main__header{
   flex-wrap: wrap;
}

.is-customer{
    margin: 2px 0px 0px 15px;
}

.is-supplier{
    margin: 2px 0px 0px 45px;
}

.gender-field{
    margin-left: 15px;
}

.contact-info .inf-area .inf-component{
    width: 200px;
}

.contact-info div:first-child .inf-component{
    width: 100%;
}