.toast{
    width: 450px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    z-index: 2;
}

.toast-list{
    margin-bottom: 10px;
    max-height: calc(56px + 10px + 56px + 10px + 56px + 10px + 56px + 10px);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0px
}

.toast-item{
    background-color: #fff;
    height: 56px;
    width: 450px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(10,10,10,0.178);
    position: static;
    margin-bottom: 10px;
}

.toast-item__icon{
    height: 25px;
    width: 25px;
    margin: 18px 0px 18px 18px;
}

.toast-item__message{
    margin-bottom: 8px;
    height: 17px;
    width: calc(100% - 18px - 10px - 56px - 10px - 48px);
}

.toast-item__action{
    width: 78px;
}

.close .close-icon{
    margin-bottom: 0px;
}

.success-dialog{
    color: #50B83C;
    font-weight: 600;
}

.warning-dialog{
    color: #F49342;
    font-weight: 600;
}

.error-dialog{
    color: #DE3618;
    font-weight: 600;
}

.info-dialog{
    color: #2890FF;
    font-weight: 600;
}

/* .item1{
    position: fixed;
    bottom: calc(39px);
}

.item2{
    position: fixed;
    bottom: calc(39px + 56px + 15px);
}

.item3{
    position: fixed;
    bottom: calc(39px + 56px + 15px + 56px + 15px);
}

.item4{
    position: fixed;
    bottom: calc(39px + 56px + 15px + 56px + 15px + 71px);
} */

.undo{
    font-weight: 500;
    text-decoration: underline;
}

.undo:hover{
    cursor: pointer;
}